*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* block/bloco */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 80px;
    background-color: rgb(220, 220, 220);
    /*border: 1px solid black;*/
}

/* element/ elemento */
.menu__item{
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    transition: text-decoration .4s;
    font-weight: 600;
}

.menu__item:hover{
    text-decoration: underline;
}

/* modifier/ modificador */
.menu__item--button-default{
    border: 1px dotted black;
    background-color: rgb(120, 120, 120);
    padding: 5px 10px;
    border-radius: 3px;
}

.menu__item--button-default:hover{
    background-color: rgb(80, 80, 80);
    transition: background-color 0.2s;
}

.menu__item--success{
    border: 1px dotted rgb(3, 54, 0);
    background-color: rgb(124, 227, 61);
    padding: 5px 10px;
    border-radius: 3px;
    color: rgb(75, 75, 75);
}

.menu__item--success:hover{
    background-color: rgb(75, 137, 52);
    transition: background-color 0.2s;
}

/*card perfil do usuário*/

.card-perfil{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 138, 138);
}

.card-perfil__image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}