.Card-jogo{
     width: 200px;
    height: 200px;
    border: 1px solid grey;
    background-color: rgb(215, 215, 215);
    padding: 10px;
    border-radius: 10px;
    color: black;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
}

.foto-jogo{
    height: 80px;
    width: 80px;
}